* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.bebidas-company {
    background: linear-gradient(90deg, #31193d 0%, #1d39f2 100%);
    background-color: aliceblue;
    padding: 250px;
}
.bebidas-company h2{
    font-size: 30px;
}
.sobre-info{
    display:flex ;
    align-items: center;
}

.sobre-info img{
    width: 300px;
    margin-right: 30px;
}

.sobre-info p{
    font-size: 30px;
}



@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    .bebidas-company {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    .sobre-info img {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

  }
  
  @media screen (max-width: 991px ) and (max-width: 1368px)  {

    .bebidas-company {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    .sobre-info .imagen .parrafo{

        margin: 0;
        font-size: 18px;
        padding: 0 200px;
    }

  }
  
  
  
    
