/* Letra inicial poppins para todo el contenido */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

/* modificaciones para la pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


/* letra y color de fondo para todas la pagina*/
body{
    font-family:  'poppins', sans-serif;
    background-color: #252326;
}

/* modificaciones para el contenido o todas las partes de la pagina*/
.container {
 max-width: 1200px;
 margin: 0 auto;
}

/*Estilo para el header/parte principal de la pagina web*/
.header {
    display: flex;
    position: relative;
}

/*Estilo para el menu u opciones/parte principal de la pagina web*/
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1200;
}

/*Estilo para el logo*/
.logo {
    color: #DFDDE0;
    font-size: 25px;
    font-weight: 800;
}

/*Estilo para el menu,la etiqueta de enlace y las lista de opciones de la parte principal del contenido*/
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 25px;
    color: #DFDDE0;
    display: block;
    font-weight: 600;
}
/* se le pone color para al pasar el mouse */
.menu .navbar ul li a:hover {
    color: #f7f4f3;
}

/* estilos al menu*/
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu {
  cursor: pointer;
  display: none;
}

/* estilos al submenu*/
.submenu {
    position: relative;
}

/* estilos al menu y al carrito*/
.submenu #carrito {
    display: none;
}

.submenu:hover #carrito  {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blue(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width:400px ;
    min-width: 400px;
}

/* estilos a la tabla del carrito u otras modificaiones referentes a este*/
table {
    width: 100%;
}
th {
    color: #DFDDE0;
}
td {

    color: #DFDDE0;
}
.borrar {
    background-color: #e45d34;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #DFDDE0;
    font-weight: 800;
}

/* segunda parte de la pagina(header)*/
.header-content {
    position: relative;
    text-align: center;
    margin-top: 300px;
}

.header-content h1 {
    font-size: 70px;
    color: #DFDDE0;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 18px;
    padding: 0 200px;
    color: #8B7E7B;
    margin-bottom: 80px;
}


/* estilos a los botones*/
.botons {
    display: flex;
    justify-content: center;
}
.btn-1 {
    display: inline-block;
    width: 400pxpx;
    height: 60px;
    margin: 0 10px;
    padding: 13px 0;
    border-radius: 25px;
    color: #DFDDE0;
    text-transform: uppercase;
    background-color: #e45d34;
}

.btn-1:hover {
    background-color: #c23b11;
}

/* parte de la flechita hacia la lista de productos*/
.arrow {
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
}

/* titulo para los productos*/
.recetas {
    display: flex;
    padding: 120px 0;
}

.recetas-2 {
    width: 50%;
    text-align: center;
}

.recetas-2 h2 {
    font-size: 55px;
    line-height: 55px;
    color: #DFDDE0;
}

/*estilo para seccion de gaseosas agregar al carrito parte 1*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    padding-bottom: 80px;
}

.swiper-button-prev:hover {
    font-size: 25px;
}

.swiper-button-next::after {
    font-size: 25%;
}

.swiper-button-prev{
    color: #e45d34;
}

.swiper-button-next {
  color: #e45d34;
}

.swiper-pagination-bullet {
    background-color: #DFDDE0;
    opacity: 1;
    top: 50%;
}

.swiper-pagination-bullet-active {
    background-color: #c23b11;
}

.platillo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.platillo h3 {
    font-size: 16px;
    color: #DFDDE0;
    margin-bottom: 10px;
}

.precio {
    font-size: 18px;
    color: #e45d34;

}

.platillo img {
    width: 200px;
}

.platillo p {
    font-size: 16px;
    color: #DFDDE0;
    margin-top: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 8px 15px;
    background-color: #e85123;
    color: #DFDDE0;
    font-size: 14px;
    margin-top: 25px;
    border-radius: 25px;
}

.btn-2:hover {
    background-color: #c23b11;
}

.c1, .c2 {
    color: #8d7e7b !important;
}

.btn-3 {
    display: inline-block;
    color: #DFDDE0;
    padding: 8px;
    border-radius: 25px;
    margin-top: 25px;
    border: 1px solid #DFDDE0;
}

.btn-3:hover {
    background-color: #e85123;
    border: 1px solid #e85123;
}

/* estilos al pie de pagina footer  */
.footer {
    padding-bottom: 50px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    width: 25px;
}

.link h3 {
    font-size: 20px;
    color: #DFDDE0;
    margin-bottom: 20px;
}

.link p{
    color: #8d7e7b;
    font-size: 14px;
    margin: 0 50px 150x 0;
}

.socials-2 img {
 width: 20px;
 height: 20px;
}



